body {
    color: red;
}
.button {
    border: 1px solid red;
    padding: 2px 4px;
    border-radius: 3px;
    text-decoration: none;
}
.button:hover {
    color: blue;
}
.button:active {
    background-color: black;
    color: white;
}